# CMake build directories
build/
CMakeFiles/
.cmake/
CMakeCache.txt
cmake_install.cmake
Makefile
build.ninja
CMakeUserPresets.json

# Conan files
conanbuildinfo.*
conaninfo.txt
conan.lock

# VSCode settings
.vscode/
*.code-workspace

# Clangd
.cache/
.clangd

# Compiled source files
*.o
*.obj
*.so
*.dll
*.exe
*.out

# MacOS files
.DS_Store

# Other
*.log

# Binary assets
assets/textures/